{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedyToWear</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--Barra de navegacion-->
    <header id="header">
        <img src="{%static 'img/menuu.png' %}" alt="" class="menu" id="menu">
        <div class="contenedor_logo">
            <a href="../html/inicio.html" class="logog">RedyToWear</a>
        </div>
        <div>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{%url 'home' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="{%url 'poleras' %}">Poleras</a>
                    </li>
                    <li>
                        <a href="{%url 'pantalones' %}">Pantalones</a>
                    </li>
                    <li>
                        <a href="{%url 'polerones' %}">Polerones</a>
                    </li>
                    <li>
                        <a href="{%url 'about' %}">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="{%url 'registro' %}">Inicio de sesion</a>
                    </li>
                    <li>
                        <a href="{%url 'formulario_tienda' %}">Registrarse</a>
                    </li>
                    <li>
                        <a href="{%url 'home' %}">Carrito</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Productos-->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Poleras</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../imagenes/StussyFront1.png" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">GANG STARR TAKE IT PERSONAL</h5>
                        <p class="card-text">Coleccion GANG STAR</p>
                        <a href="../polerashtml/polera1.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../imagenes/StussyFront22.png" class="card-img-top" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">GANG STARR TAKE IT PERSONAL</h5>
                        <p class="card-text">Coleccion "GANG STAR"</p>
                        <a href="../polerashtml/poleras2.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../imagenes/StussyFront3.png" class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">GANG STARR</h5>
                        <p class="card-text">Coleccion "GANG STAR"</p>
                        <a href="../polerashtml/poleras3.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <img src="../imagenes/StussyFront4.png" class="card-img-top" alt="Producto 4">
                    <div class="card-body">
                        <h5 class="card-title">WORLD TOUR BLACK</h5>
                        <p class="card-text">Coleccion "World Tour"</p>
                        <a href="../polerashtml/poleras4.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <img src="../imagenes/StussyBack5.png" class="card-img-top" alt="Producto 5">
                    <div class="card-body">
                        <h5 class="card-title">WORLD TOUR WHITE</h5>
                        <p class="card-text">Coleccion "World Tour"</p>
                        <a href="../polerashtml/poleras5.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <img src="../imagenes/StussyFront6.png" class="card-img-top" alt="Producto 6">
                    <div class="card-body">
                        <h5 class="card-title">POPSICLE BLACK/PINK</h5>
                        <p class="card-text">Coleccion "Popsicle"</p>
                        <a href="../polerashtml/poleras6.html" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Final de la pagina -->
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="row text-white g-4">
                <div class="col-md-6 col-lg-3">
                    <a class="text-uppercase text-decoration-none brand text-white" href="../html/inicio.html">RTW</a>
                    <p class="text-white text-muted mt-3">Somos una tienda en línea especializada en ofrecerte lo mejor
                        de la moda urbana con una selección exclusiva de prendas de la reconocida marca STUSSY. Con sede
                        en Huechuraba,Region Metropolitana, estamos dedicados a proporcionarte una experiencia única de
                        compra en línea
                        para los amantes del estilo urbano y contemporáneo..</p>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light">Links</h5>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="about.html" class="text-white text-decoration-none text-muted">
                                <i class="fas fa-chevron-right me-1"></i> Sobre nosotros
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="poleras.html" class="text-white text-decoration-none text-muted">
                                <i class="fas fa-chevron-right me-1"></i> Poleras
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="pantalones.html" class="text-white text-decoration-none text-muted">
                                <i class="fas fa-chevron-right me-1"></i> Pantalones
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="polerones.html" class="text-white text-decoration-none text-muted">
                                <i class="fas fa-chevron-right me-1"></i> Polerones
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Contáctanos</h5>
                    <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class="me-3">
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                        <span class="fw-light">
                            Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class="me-3">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="fw-light">
                            RTW@AYUDA.cl
                        </span>
                    </div>
                    <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class="me-3">
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span class="fw-light">
                            +56229993000
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <h5 class="fw-light mb-3">Nuestras Redes</h5>
                    <div>
                        <ul class="list-unstyled d-flex">
                            <li>
                                <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--JSS BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!--SCRIPT-->
    <script src="{%static 'js/menu.js'%}"></script>

</body>

</html>